@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.none{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    padding-left: 10%;
    padding-bottom: 10%;
    background-image: radial-gradient( circle 1002.6px at 9.1% 45.2%,  rgba(52,172,224,1) 0%, rgba(34,112,147,1) 96.7% );

}

.note {
  font-size: 6rem;
  font-weight: 600;
  margin-top: 7%;
  color: #fff;
}

.head {
  padding-top: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.weblink {
  font-size: 1.6rem;
  padding: 2rem 0;
  color: #fff;
  opacity: 0.8;
}

.body {
  padding-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}

@media (max-width:991px) {
  html{
    font-size: 85%;
  }
}

@media (max-width:500px){
  html{
    font-size: 65%;
  }
  .note{
    font-size: 6rem;
    margin-top: 2%;
  }
}
